<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 align="center">Расчет количества обоев</h1>
<p>[[${title}]]</p>
<form action="">
    <p align="center"><input type="text" name="wallWidth" placeholder="0"></p>
    <p align="center"><input type="text" name="wallLength" placeholder="0"></p>
    <p align="center"><input type="text" name="ceilingHeight" placeholder="0.00"></p>
    <p align="center"><button>Calculate</button></p>
</form>
<p align="center" data-th-if="${result}">Для оклейки комнаты нобходимо <strong>[[ ${#numbers.formatDecimal(result, 0, 0)} ]]</strong> рулонов обоев шириной – 1,06 м, длиной – 10 м.</p>
</body>
</html>