<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Калькулятор обоев</h1>
<p>[[${title}]]</p>
<p data-th-if="${result}">Your result: [[${result}]]</p>
<form action="">
    <input type="wallWidth" name="text" placeholder="wallWidth">
    <input type="wallLength" name="text" placeholder="wallLength">
    <input type="ceilingHeight" name="text" placeholder="ceilingHeight">
    <button>Calculate</button>
</form>
</body>
</html>